
body{
  font-family: 'Noto Sans TC', sans-serif;
  height: 100vh;
  background: linear-gradient(75deg,#2980b9,#8e44ad);
}
.click{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  text-decoration: none;
}
.click{
  background: #2981bc;
  color: white;
  font-size: 22px;
  font-family: arial;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #0059b3;
}